extends ../shared/template
block content
  h2 User Login
  .row
    .col-xs-3
      form(role='form', method='post', action='/login')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', autofocus=true)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password')
        button.btn.btn-primary(type='submit') LogIn
.col-xs-9
