extends ../shared/template
block content
  h2 Address Book
  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Name
        th Twitter
        th Facebook
        th Color
    tbody
      each address in addresses
        tr 
          td= address.name
          td= address.twitter
          td= address.fb
          td(style='background-color:#{address.color};')= address.color
