extends ../shared/template
block content
  h2 Add an Address
  .row
    .col-xs-3
      form(role='form', method='post', action='/addresses')
        .form-group
          label(for='name') Name
          input.form-control#Name(type='text', name='name', autofocus=true)
        .form-group
          label(for='color') Color
          input.form-control#color(type='color', name='color')
        .form-group
          label(for='twitter') Twitter
          input.form-control#twitter(type='text', name='twitter')
        .form-group
          label(for='fb') Facebook
          input.form-control#fb(type='text', name='fb')
        button.btn.btn-primary(type='submit') Add Address
.col-xs-9
